.reedem-button {
  width: 228px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background: #ffffff;
  cursor: pointer;
  user-select: none;

  font-size: 18px;
  color: #616161;
  transition: background, box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  }
  &:active {
    transform: translateY(1px);
  }
}
.disabledBtn {
  cursor: auto;
  opacity: 0.6;
  &:hover {
    box-shadow: none;
  }
  &:active {
    transform: translateY(0px);
  }
}
